matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
numpy==1.24.2
pandas==1.5.2
plotly==5.13.1
plotly-express==0.4.1
seaborn==0.12.2
streamlit==1.20.0


